.under-header-line .vc_btn3-container.t-buy-tickets-btn a.vc_btn3{
    margin-top: 24px;
    margin-right: 0;
}
.under-header-line h4{
    display: none;
}
.under-header-line .under-header-text{
    display: none;
}